.text-box {
    display: flex;
    flex-direction: column;
    padding-left: $mobile-side-padding;
    padding-right: $mobile-side-padding;
    padding-top: $mobile-top-bottom-padding;
    padding-bottom: $mobile-top-bottom-padding;
    justify-content: center;
    & p {
        margin-top: 1rem;
    }
    & h4 {
        margin-top: 1.5rem;
    }
    @media screen and (min-width: $tablet-max-width) {
        //desktop and larger
        padding-left: 4rem;
        padding-right: 4rem;
        & p {
            margin-top: 1.5rem;
        }
        & h4 {
            margin-top: 2rem;
        }
    }
}

.black-text-container {
    background: var(--clr-pure-black);
    color: var(--clr-pure-white);
}

.invite-flex-container, .view-stories-flex-container {
    display: flex;
    align-items: baseline;
    gap:1rem;
    cursor: pointer;
} 
.invite-flex-container {
    & .arrow {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
    }
}

.white-text-container {
    background: var(--clr-pure-white);
    color: var(--clr-pure-black);
}

.section-container .right-image-container span {
    height: 100% !important;
}
.section-container .left-image-container span {
    height: 100% !important;
}

@media screen and (min-width: $mobile-max-width) {
    // tablet //
    .section-container {
        display: grid;
        height: 30rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        & .section-picture {
            object-fit: cover;
        }
        & .right-image-container {
            @include section-grid-sides(3, 4);
        }
        & .left-image-container {
            @include section-grid-sides(1, 2);
        }
        & .text-box-left {
            @include section-grid-sides(1, 3);
        }
        & .text-box-right {
            @include section-grid-sides(2, 4);
        }

        @media screen and (min-width: $tablet-max-width) {
            /////// desktop ///////
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            height: 45rem;
            & .right-image-container {
                @include section-grid-sides(3, 6);
            }
            & .left-image-container {
                @include section-grid-sides(1, 4);
            }
            & .text-box-left {
                @include section-grid-sides(1, 3);
            }
            & .text-box-right {
                @include section-grid-sides(4, 6);
            }
        }

    }
}

.features-container {
    display: flex;
    margin: 6rem 5rem 6rem 5rem;
    gap: 3rem;
    justify-content: center;

    @media screen and (max-width: $tablet-max-width) {
        // tablet and smaller//
        flex-direction: column;
    }
    
    .single-feature-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        & .image-container {
            height: 72px !important;
            display: flex;
            align-items: center;
            & span {
                height: 36px !important;
            }
        }
        & p {
            text-align: center;
            max-width: 23rem;
        }
    }
}