// body {
//     margin: 3rem;
// }
main {
    position: relative;
    // margin-right: 20rem;
    // margin-left: 20rem;
    z-index: 0;
}
main:before {
    content: ' ';
    display: block;
    position: absolute;
    //z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background-image: url("../../public/assets/london-skyline.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200vh;
    opacity: 10%;

}
.hero-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
    padding-left: var(--standard-side-padding);
    padding-right: var(--standard-side-padding);
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
    }

    
}




.view-projects-button {
    position: relative;
    z-index: 900;
    color: var(--clr-main-orange-1-redder);
    &:hover {
        cursor: pointer;
    }
    
}


.title-section {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @media screen and (max-width: 1000px) {
        grid-row: 2 / 3;
        margin-top: 0rem;
    }
}
.man-container {
    padding: 4rem 0rem 4rem 4rem;
    margin-left: 0rem;
    @media screen and (max-width: 1200px) {
        padding-left: 0rem;
        position: absolute;
        min-width: 426px;
        right: 4rem;
        z-index: -1;
    }

    @media screen and (max-width: 1000px) {
        grid-row: 1 / 2;
        padding: 0rem 5% 0rem 10%;
        position: static;
    }
    
}
.projects-title {
    margin-bottom: 4rem;
    margin-left: var(--standard-side-padding);
    margin-right: var(--standard-side-padding);
}


