.section-container {
    position:relative;
    
    & .hero-photographer-picture {
        @media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
            position: absolute;
            object-position: 30%;
        }
        object-fit: cover;
    }
} 