footer {
    background-color: var(--clr-pure-black);
    color: var(--clr-pure-white) ;
    display: grid;

    @media screen and (min-width: $tablet-max-width) {
        // desktop and larger //
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 3fr 1.5fr;
        
    }

    padding-left: $homepage-border-padding;
    padding-right: $homepage-border-padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    .social-icons {
        display: flex;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: auto 25% 0 0;
        cursor: pointer;
        & img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
            &:hover {
            filter: none;

            }
        }
    }
    .footer-middle-section, .footer-right-section {
        grid-row-start: 1;
        grid-row-end: 4;
    }
    ul li {
        margin-top: 1rem;
        margin-left: 10%;
        cursor: pointer;
    }
    ul li:first-child {
      margin-top: 0rem;
    }
    h4:hover {
        color: grey;
    }
    .footer-right-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & p {
            color: grey !important;
        }
    }

    @media screen and (max-width: $tablet-max-width) {
        //tablet //
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        .footer-right-section {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .footer-middle-section {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-bottom: 2rem;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: start;
            & li {
                margin-top: 0.5rem;
            }
            & li:first-child {
                margin-top: 0.5rem;
                margin-left: 0rem;
            }
        }
    }
    @media screen and (max-width: $mobile-max-width) {
        //mobile //
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
        .photosnap-logo, .social-icons, .footer-middle-section, .footer-right-section {
            grid-column-start: 1;
            grid-column-end: 4;
            margin: 0 auto;
        }
        .photosnap-logo {
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .social-icons {
            grid-row-start: 2;
            grid-row-end: 3;
            width: 50%;
            height: 35%;
        }
        .footer-middle-section {
            grid-row-start: 3;
            grid-row-end: 4;
            & ul {
                margin-top: 2rem;
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                align-items: center;
            }
        }
        .footer-right-section {
            margin-top: 3rem;
            gap: 2rem;
            grid-row-start: 4;
            grid-row-end: 6;
            display: flex;
            align-items: center;
        }
    }
}