.main-navigation {
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--clr-pure-white);
    align-items: center;
    & .photosnap-logo{
        width: 100%;
        height:fit-content;
        display: flex;
        justify-content: center;
        cursor: pointer;

    }
    & .nav-page-links-container{
        display: flex;
        justify-content: space-around;
        cursor: pointer;
    }
    & .button-burger-container {
        margin: 0 auto;
        & .hamburger {
            visibility: hidden;
            position: absolute;
        }
    }
    @media screen and (max-width: $mobile-max-width) {
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;

        & .photosnap-logo{
            width: 100%;
            height:fit-content;
            display: block;
        }
        & .nav-page-links-container.false{
            display: none;
        }
        & .nav-page-links-container.true{
            position: absolute;
            left: 0;
            right: 0;
            background: var(--clr-pure-white);
            top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            z-index: 999;
        }
        & .button-burger-container {
            display: flex;
            align-items: center;
            justify-content: end;
            & .get-an-invite.false{
                display: none;
            }
            & .get-an-invite.true{
                position: absolute;
                top: 11rem;
                display: block;
                width: 100%;
                left: 0;
                border-top: 1rem;
                border-left: 5rem;
                border-bottom: 2rem;
                border-right: 5rem;
                border-style: solid;
                border-color: var(--clr-pure-white);
                align-items: center;
                z-index: 999;
            }
            & .hamburger {
                visibility: visible;
            }
        }
    }
}