.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--clr-pure-black);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--clr-pure-black);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--clr-pure-white);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      max-width: 300px;
      margin-top: 4rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
  }
  
  .rates-container {
    @media screen and (min-width: $tablet-max-width) {
        //desktop and above
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        & .rate-card .card-content {
          min-height: 125px;
        }
      }
      @media screen and (max-width: $tablet-max-width) {
        //tablet and below
        flex-direction: column;
      }
  }

  .rates-container .rate-card .pick-plan-btn.false:hover {
    background-color: white !important;
    color: black !important;
  }

  .rates-container .rate-card .pick-plan-btn.true:hover {
    background-color: black !important;
    color: white !important;
  }

  .rate-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
      @media screen and (min-width: $tablet-max-width) {
        //desktop and above
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 15rem;
          margin-bottom: 5rem;
          & .card-title, .card-content, .term-period {
              margin-bottom: 1rem;
            }
            & .card-content {
                text-align: center;
            }
    }
    @media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width)  {
         //tablet
         display: grid;
         margin: 1rem;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 2fr 1fr;
         & .card-title {
            grid-column: 1/2;
            grid-row: 1/2;
         }
         & .card-content {
            grid-column: 1/2;
            grid-row: 2/3;
         }
         & .card-price {
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: end;
         }
         & .term-period {
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: end;
         }
    }
    @media screen and (max-width: $mobile-max-width) {
        //mobile
        display: flex;
        margin: 1rem;
        padding: 2rem !important;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }
  }

  .compare-table-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    @media screen and (max-width: $mobile-max-width) {
      //mobile
      visibility: hidden;
      margin-bottom: 0rem;
      margin-top: 2rem;

    }
  }

  
  .compare-table-container {
    margin-bottom: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .compare-table-row > span {
    @media screen and (max-width: $mobile-max-width) {
      //mobile
      height: 0px !important;
    }
  }
  
  .compare-table-features, .compare-table-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    text-align:  center;
    max-width: 50rem;
    margin: 1rem auto;
    & .compare-subtitle {
      text-align: start;
    }
    
    & .tick {
      object-fit: contain;
    }
  }
  
  .compare-hr, .compare-hr-grey{
    max-width: 52rem;
  }
  
  .compare-hr-grey {
    height: 1px;
    background-color: var(--clr-light-grey);
    border: none;
  }

  .basic-pro-biz-container {
    display: none;
  }
  .tick-list {
    display: none;
  }
  
  @media screen and (max-width: $mobile-max-width) {
    //mobile
    .compare-removeable {
      visibility: hidden;
    }
    .compare-table-row {
      display: flex;
      flex-direction: column;
    }
    .basic-pro-biz-container, .tick-list{
      display: flex;
      justify-content: space-between;
      visibility: visible;
      margin-right: 2rem;
      margin-top: 1rem;
    }
    .tick-list{ 
      margin-right: 3rem;
    }
  }
  
  