// .main-picture {
//     width: 100%;
// }

// // filter: grayscale(100%);

// .gradient-overlay {   
//     position: relative;
    
//     &::after {
//         position: absolute;
//         content:"";
//         height: 100%;
//         width:100%;
//         top:0;
//         left:0;
//         background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 10%,rgba(0,0,0,1) 100%);
//         //  z-index: 999;
//     }
// }

// // .white-div {
// //     background-color: aqua;
// //     background-attachment: fixed;
// //     height: 100px;
// // }

// .detail-page-main-content { 
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 60rem;
//     // position: absolute;
//     top: 90%;
//     color:white;
//     gap: 1rem;
//     margin-top: 2rem;
//     margin-bottom: 3rem;
//     margin-left: 3rem;
//     margin-right: 3rem;
//     // background-attachment: fixed;

//     // &::after {
//     //     position: absolute;
//     //     content:"";
//     //     height: 70rem;
//     //     width:100%;
//     //     top:0;
//     //     left:0;
//     //     background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 80%,rgba(0,0,0,1) 100%);
//     //     //  z-index: 999;
//     // }



//     & .text-holding-div {
//         position: absolute;
//         top: 10rem;
//         margin-left: 3rem;
//         margin-right: 3rem;
//         padding-top: 3rem; 
//         padding-bottom: 3rem; 

//         padding-left: 2rem;
//         padding-right: 2rem;
//         width: calc(100% - 6rem);
//         background-color: var(--clr-pure-white);
//         color: var(--clr-pure-black);
//     }
// }

// .date-and-author{
//         display: flex;
//         margin-bottom: 1rem;
//         gap: 1rem;
// }

.detail-page-image {
    object-fit: cover;
}
.detail-page-image-container {
    filter: brightness(70%);
}
@media screen and (max-width: $mobile-max-width ) {
    //mobile
    .detail-page-image-container {
        height: 500px;
    }
}
.detail-page-black-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.story-detail-subtitle {
    margin-top: 1rem;
}

.story-detail-content-container {
    padding: 4rem;
}
.date-and-author {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    align-items: baseline;
}
.story-detail-content::first-letter {
    font-size: 4em;
    float: left;
    padding-right: 16px;
    padding-top: 10px;
}
