.main-picture {
    width: 100%;
}

// filter: grayscale(100%);

.gradient-overlay {   
    position: relative;
    
    &::after {
        position: absolute;
        content:"";
        height: 100%;
        width:100%;
        top:0;
        left:0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 10%,rgba(0,0,0,1) 100%);
        //  z-index: 999;
    }
}

// .white-div {
//     background-color: aqua;
//     background-attachment: fixed;
//     height: 100px;
// }

.detail-page-main-content { 
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;
    // position: absolute;
    top: 90%;
    color:white;
    gap: 1rem;
    // background-attachment: fixed;

    // &::after {
    //     position: absolute;
    //     content:"";
    //     height: 70rem;
    //     width:100%;
    //     top:0;
    //     left:0;
    //     background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 80%,rgba(0,0,0,1) 100%);
    //     //  z-index: 999;
    // }



    & .text-holding-div {
        position: absolute;
        bottom: 1rem;
        margin-top: 20rem; 
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
