@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  /* fonts */
  --ff-primary: 'DM Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  font-family: var(--ff-primary);
  /* colours */
  --clr-main-orange-2-yellower: #FFCF0D;
  --clr-main-orange-1-yellower: #E8A60C;
  --clr-main-orange: #FF9900;
  --clr-main-orange-1-redder: #E8710C;
  --clr-main-orange-2-redder: #FF590D;
  --clr-background-linear-gradient-grey: linear-gradient(180deg, rgba(217, 217, 217, 0.3) 0%, rgba(217, 217, 217, 0) 100%);
  --clr-pure-black: hsl(0, 0%, 0%);
  --clr-medium-grey: rgb(128,128,128);
  --clr-light-grey: hsl(0, 0%, 87%);
  --clr-pure-white: hsl(0, 0%, 100%);
  /* font sizes */
  /* buttons */
  --icon-width: 20px;
  --move-left-half-to-right: 13px;
  --icon-height: 5px;
  --scale-x: 1.4;
  --hamburger-vertical-gap: 14px;
  /* margins */
  --standard-side-padding: 30rem;
  --animation-font-size: 400pt;
}

@media screen and (max-width: 2422px) {
  :root {
    --standard-side-padding: 20rem;
    --animation-font-size: 300pt;
  }
}

@media screen and (max-width: 1833px) {
  :root {
    --standard-side-padding: 15rem;
    --animation-font-size: 220pt;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --standard-side-padding: 10rem;
    --animation-font-size: 160pt;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --animation-font-size: 140pt;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --standard-side-padding: 5rem;
    --animation-font-size: 0pt;
  }
}

/* breakpoints */
/* padding and margin */
html {
  height: 100%;
}

body {
  background-color: var(--clr-pure-white);
  color: var(--clr-pure-black);
  height: 100%;
}

h1, h2, h3 {
  font-weight: 700;
  font-family: brandon-grotesque, sans-serif;
}

h1 {
  font-size: 71.96px;
  line-height: 60px;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33px;
  }
}

h2 {
  font-size: 35.99px;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.07em;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 5px;
  color: var(--clr-medium-grey);
  text-transform: uppercase;
}

p {
  font-weight: var(--fw-regular);
  line-height: 30px;
  font-size: 18px;
  color: var(--clr-medium-grey);
}

button {
  border: none;
  color: var(--clr-pure-white);
  background-color: var(--clr-pure-black);
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  color: var(--clr-pure-black);
  background-color: var(--clr-light-grey);
}

.main-navigation {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 700;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-section-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.open .left-section-nav {
  z-index: 9;
  color: var(--clr-medium-grey);
}

.name-and-role {
  margin-top: 0.4rem;
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .8rem;
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.btn1 {
  position: relative;
  z-index: 5;
  width: 60px;
  height: 60px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btn1 .icon-left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: var(--icon-height);
  width: var(--icon-width);
  top: 30px;
  background-color: var(--clr-main-orange);
  left: var(--move-left-half-to-right);
}

.btn1 .icon-left:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--clr-main-orange);
  content: "";
  top: calc(var(--hamburger-vertical-gap) * -1);
}

.btn1 .icon-left:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--clr-main-orange);
  content: "";
  top: var(--hamburger-vertical-gap);
}

.btn1 .icon-right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: var(--icon-height);
  width: var(--icon-width);
  top: 30px;
  background-color: var(--clr-main-orange);
  left: 30px;
}

.btn1 .icon-right:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--clr-main-orange);
  content: "";
  top: calc(var(--hamburger-vertical-gap) * -1);
}

.btn1 .icon-right:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--clr-main-orange);
  content: "";
  top: var(--hamburger-vertical-gap);
}

.btn1:hover {
  cursor: pointer;
}

.btn1:hover .icon-left {
  background-color: var(--clr-medium-grey);
}

.btn1:hover .icon-left::after {
  background-color: var(--clr-medium-grey);
}

.btn1:hover .icon-left::before {
  background-color: var(--clr-medium-grey);
}

.btn1:hover .icon-right {
  background-color: var(--clr-medium-grey);
}

.btn1:hover .icon-right::after {
  background-color: var(--clr-medium-grey);
}

.btn1:hover .icon-right::before {
  background-color: var(--clr-medium-grey);
}

body.open div div nav .right-section-nav .hamburger-container.open .icon-left {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background: transparent;
}

body.open div div nav .right-section-nav .hamburger-container.open .icon-left:before {
  -webkit-transform: rotateZ(45deg) scaleX(var(--scale-x)) translate(4px, 4px);
          transform: rotateZ(45deg) scaleX(var(--scale-x)) translate(4px, 4px);
  background-color: var(--clr-medium-grey);
}

body.open div div nav .right-section-nav .hamburger-container.open .icon-left:after {
  -webkit-transform: rotateZ(-45deg) scaleX(var(--scale-x)) translate(4px, -4px);
          transform: rotateZ(-45deg) scaleX(var(--scale-x)) translate(4px, -4px);
  background-color: var(--clr-medium-grey);
}

body.open div div nav .right-section-nav .hamburger-container.open .icon-right {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background: transparent;
}

body.open div div nav .right-section-nav .hamburger-container.open .icon-right:before {
  -webkit-transform: rotateZ(-45deg) scaleX(var(--scale-x)) translate(-4px, 4px);
          transform: rotateZ(-45deg) scaleX(var(--scale-x)) translate(-4px, 4px);
  background-color: var(--clr-medium-grey);
}

body.open div div nav .right-section-nav .hamburger-container.open .icon-right:after {
  -webkit-transform: rotateZ(45deg) scaleX(var(--scale-x)) translate(-4px, -4px);
          transform: rotateZ(45deg) scaleX(var(--scale-x)) translate(-4px, -4px);
  background-color: var(--clr-medium-grey);
}

body.open div div nav .right-section-nav .hamburger-container:not(:hover) {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body.open div div nav .right-section-nav .hamburger-container:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body.open div div nav .right-section-nav .hamburger-container:hover .icon-left::after {
  background-color: var(--clr-pure-white);
}

body.open div div nav .right-section-nav .hamburger-container:hover .icon-left::before {
  background-color: var(--clr-pure-white);
}

body.open div div nav .right-section-nav .hamburger-container:hover .icon-right::after {
  background-color: var(--clr-pure-white);
}

body.open div div nav .right-section-nav .hamburger-container:hover .icon-right::before {
  background-color: var(--clr-pure-white);
}

body {
  overflow-x: hidden;
}

body:before {
  content: '';
  position: absolute;
  background-color: var(--clr-pure-black);
  opacity: 0.9;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-out, border-radius 0.4s ease-out;
  transition: all 0.4s ease-out, border-radius 0.4s ease-out;
}

body.open:before {
  content: '';
  position: absolute;
  background-color: var(--clr-pure-black);
  opacity: 0.9;
  top: 0;
  right: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0%;
  height: 200vh;
  width: 200vw;
  z-index: 1;
}

.menu-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 170px;
  right: 0px;
  margin-right: -200px;
  gap: 3.5rem;
  z-index: 99;
  color: var(--clr-medium-grey);
  opacity: 0;
  -ms-transform-origin-x: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  list-style: none;
}

.menu-container h1 {
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu-container h1:hover {
  cursor: pointer;
  color: var(--clr-pure-white);
  text-decoration: underline;
}

body.open .menu-container {
  opacity: 1;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

footer {
  background: var(--clr-light-grey);
  height: 100%;
  padding-left: var(--standard-side-padding);
  padding-right: var(--standard-side-padding);
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 3fr 1fr 1fr;
      grid-template-columns: 0.2fr 3fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

footer .footer-first-section .footer-JM-logo-container {
  min-width: 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

footer .footer-name-and-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
  margin-left: 1rem;
}

footer .social-media-icons-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-left: 1rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

footer .social-media-icons-container .icon-container {
  width: 2rem;
}

footer .social-media-icons-container .icon-container:not(:hover) {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
}

.footer-second-section, .footer-third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: .5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.footer-second-section h2:first-child, .footer-third-section h2:first-child {
  margin-bottom: 1rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer-second-section-ul, .footer-third-section-ul {
  list-style: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  margin-top: -1.5rem;
}

@media screen and (max-width: 1928px) {
  .footer-second-section-ul, .footer-third-section-ul {
    margin-top: 0rem;
  }
}

.footer-second-section-ul li, .footer-third-section-ul li {
  margin-bottom: 0.5rem;
}

.footer-second-section-ul li span:hover, .footer-third-section-ul li span:hover {
  color: var(--clr-main-orange);
}

.footer-second-section-ul {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer-third-section-ul {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.footer-second-section {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer-third-section {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.copyright-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: .7;
}

.project-list-ul li {
  list-style: none;
  padding: 10rem var(--standard-side-padding) 25rem var(--standard-side-padding);
  background: var(--clr-background-linear-gradient-grey);
}

@media screen and (max-width: 1950px) {
  .project-list-ul li {
    padding-bottom: 15rem;
  }
}

@media screen and (max-width: 1300px) {
  .project-list-ul li {
    padding-bottom: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-list-container {
  position: relative;
}

@media screen and (max-width: 1300px) {
  .project-list-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
}

.photohero-container {
  border: 4px solid var(--clr-light-grey);
  border-radius: 1px;
  width: 30rem;
  position: absolute;
  right: 20rem;
  top: 10rem;
  z-index: 1;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 1950px) {
  .photohero-container {
    right: 0rem;
    top: 0rem;
  }
}

@media screen and (max-width: 1300px) {
  .photohero-container {
    width: 100%;
    position: static;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.photohero-container:hover {
  cursor: pointer;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  top: 8rem;
}

.photolist-container {
  border: 4px solid var(--clr-light-grey);
  border-radius: 1px;
  width: 30rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 1950px) {
  .photolist-container {
    display: none;
  }
}

.photolist-container:hover {
  cursor: pointer;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  top: -2rem;
}

.text-n-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  opacity: 0;
  z-index: 200;
}

.text-n-line .site-description {
  max-width: 40rem;
}

@media screen and (max-width: 1615px) {
  .text-n-line .site-description {
    max-width: 25rem;
  }
}

@media screen and (max-width: 1300px) {
  .text-n-line .site-description {
    max-width: 100%;
    width: 100%;
  }
}

.text-n-line .orange-line {
  background-color: var(--clr-main-orange-2-yellower);
  height: .3rem;
  width: 30rem;
  opacity: 0;
}

@media screen and (max-width: 1615px) {
  .text-n-line .orange-line {
    max-width: 25rem;
  }
}

.text-n-line .see-details {
  color: var(--clr-main-orange-1-redder);
}

.text-n-line .see-details:hover {
  cursor: pointer;
  color: var(--clr-main-orange-1-yellower);
}

@-webkit-keyframes anim1 {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim2 {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.project-detail-top-section {
  margin-top: 16rem;
  margin-bottom: 8rem;
  margin-left: 50px;
  margin-right: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  padding-right: var(--standard-side-padding);
  padding-left: var(--standard-side-padding);
}

.project-detail-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.project-detail-top-section-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.project-detail-top-section-right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.project-detail-top-section-right .project-detail-subtitle {
  margin-bottom: 1rem;
}

.project-detail-section-image-container {
  margin-right: var(--standard-side-padding);
  margin-left: var(--standard-side-padding);
  margin-bottom: 8rem;
  border: 12px solid var(--clr-light-grey);
  border-radius: 3px;
}

.orange-line {
  background-color: var(--clr-main-orange-2-yellower);
  height: .3rem;
  width: 15rem;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-detail-title {
  margin-bottom: 1rem;
}

.text-flex-to-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.text-flex-to-row p span {
  font-weight: 700;
  color: black;
  margin-right: .5rem;
}

.detail-page-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.project-details-tools-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.tools-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.web-list-ul li {
  list-style: none;
  padding-top: 10rem;
  padding-bottom: 14rem;
  padding-right: var(--standard-side-padding);
  padding-left: var(--standard-side-padding);
  background: var(--clr-background-linear-gradient-grey);
}

@media screen and (max-width: 1300px) {
  .project-list-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.web-photolist-container {
  border: 4px solid var(--clr-light-grey);
  border-radius: 1px;
  width: 30rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 1300px) {
  .web-photolist-container {
    position: static;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
  }
}

.web-text-n-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  opacity: 0;
  z-index: 200;
}

.web-text-n-line .web-site-description {
  max-width: 40rem;
}

@media screen and (max-width: 1615px) {
  .web-text-n-line .web-site-description {
    max-width: 25rem;
  }
}

@media screen and (max-width: 1300px) {
  .web-text-n-line .web-site-description {
    max-width: 100%;
  }
}

.web-text-n-line .orange-line {
  background-color: var(--clr-main-orange-2-yellower);
  height: .3rem;
  width: 30rem;
  opacity: 0;
}

@media screen and (max-width: 1615px) {
  .web-text-n-line .orange-line {
    max-width: 25rem;
  }
}

.web-text-n-line .see-details {
  color: var(--clr-main-orange-1-redder);
}

.web-text-n-line .see-details:hover {
  cursor: pointer;
  color: var(--clr-main-orange-1-yellower);
}

#container {
  position: absolute;
  width: 100vw;
  height: 400pt;
  top: -2rem;
  left: 0rem;
  -webkit-filter: url(#threshold) blur(0.6px);
          filter: url(#threshold) blur(0.6px);
  z-index: -1;
  opacity: 0.5;
}

@media screen and (max-width: 2422px) {
  #container {
    top: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  #container {
    top: -2rem;
  }
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: var(--animation-font-size);
  background: -webkit-linear-gradient(#eee, var(--clr-main-orange-2-yellower));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -16px -16px 1px #e6e6e6;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#filters {
  position: absolute;
}

main {
  position: relative;
  z-index: 0;
}

main:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200vh;
  opacity: 10%;
}

.hero-section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 10rem;
  padding-left: var(--standard-side-padding);
  padding-right: var(--standard-side-padding);
}

@media screen and (max-width: 1000px) {
  .hero-section-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.view-projects-button {
  position: relative;
  z-index: 900;
  color: var(--clr-main-orange-1-redder);
}

.view-projects-button:hover {
  cursor: pointer;
}

.title-section {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .title-section {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin-top: -10rem;
  }
}

.man-container {
  padding: 4rem 0rem 4rem 4rem;
  margin-left: 0rem;
}

@media screen and (max-width: 1200px) {
  .man-container {
    padding-left: 0rem;
    position: absolute;
    min-width: 426px;
    right: 4rem;
    z-index: -1;
  }
}

@media screen and (max-width: 1000px) {
  .man-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding: 0rem 5% 0rem 10%;
    position: static;
  }
}

.projects-title {
  margin-bottom: 4rem;
  padding-top: 3rem;
  padding-left: var(--standard-side-padding);
  padding-right: var(--standard-side-padding);
  background: var(--clr-background-linear-gradient-grey);
}

@media screen and (max-width: 1500px) {
  .projects-title {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1200px) {
  .projects-title {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 1000px) {
  .projects-title {
    margin-top: 6rem;
  }
}

.contact-page {
  margin-left: var(--standard-side-padding);
  margin-right: var(--standard-side-padding);
  margin-top: 20rem;
  height: 100%;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  margin-bottom: 20rem;
  opacity: 1;
  gap: 3rem;
}

.contact-form div .contact-top-field-input {
  margin-top: 1rem;
  height: 2rem;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20pt;
  font-family: var(--ff-primary);
  color: var(--clr-medium-grey);
}

.contact-form .message-container {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contact-form .message-container #message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  width: 100%;
  border-width: 2px;
  height: 15rem;
  font-size: 20pt;
  font-family: var(--ff-primary);
  color: var(--clr-medium-grey);
}
/*# sourceMappingURL=main.css.map */