* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  /* fonts */
  --ff-primary: 'DM Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  font-family: var(--ff-primary);
  /* colours */
  --clr-main-accent-yellow: hsl(28, 100%, 79%);
  --clr-main-accent-pink: hsl(329, 36%, 59%);
  --clr-main-accent-blue: hsl(229, 100%, 67%);
  --clr-pure-black: hsl(0, 0%, 0%);
  --clr-light-grey: hsl(0, 0%, 87%);
  --clr-pure-white: hsl(0, 0%, 100%);
  /* font sizes */
  /* buttons */
}

/* breakpoints */
/* padding and margin */
body {
  background-color: var(--clr-pure-white);
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33px;
  }
}

h2 {
  font-size: 24px;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

h4 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

p {
  font-weight: var(--fw-regular);
  opacity: 0.75;
  line-height: 25px;
}

button {
  border: none;
  color: var(--clr-pure-white);
  background-color: var(--clr-pure-black);
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  color: var(--clr-pure-black);
  background-color: var(--clr-light-grey);
}

.main-navigation {
  height: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--clr-pure-white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation .photosnap-logo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main-navigation .nav-page-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.main-navigation .button-burger-container {
  margin: 0 auto;
}

.main-navigation .button-burger-container .hamburger {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .main-navigation .photosnap-logo {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
  }
  .main-navigation .nav-page-links-container.false {
    display: none;
  }
  .main-navigation .nav-page-links-container.true {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--clr-pure-white);
    top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 999;
  }
  .main-navigation .button-burger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .main-navigation .button-burger-container .get-an-invite.false {
    display: none;
  }
  .main-navigation .button-burger-container .get-an-invite.true {
    position: absolute;
    top: 11rem;
    display: block;
    width: 100%;
    left: 0;
    border-top: 1rem;
    margin-top: 0px;
    border-left: 5rem;
    border-bottom: 2rem;
    border-right: 5rem;
    border-style: solid;
    border-color: var(--clr-pure-white);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
  }
  .main-navigation .button-burger-container .hamburger {
    visibility: visible;
  }
}

footer {
  background-color: var(--clr-pure-black);
  color: var(--clr-pure-white);
  display: -ms-grid;
  display: grid;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  footer {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 3fr 1.5fr;
        grid-template-columns: 1fr 3fr 1.5fr;
  }
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin: auto 25% 0 0;
  cursor: pointer;
}

footer .social-icons img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
}

footer .social-icons img:hover {
  -webkit-filter: none;
          filter: none;
}

footer .footer-middle-section, footer .footer-right-section {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

footer ul li {
  margin-top: 1rem;
  margin-left: 10%;
  cursor: pointer;
}

footer ul li:first-child {
  margin-top: 0rem;
}

footer h4:hover {
  color: grey;
  text-decoration: underline;
}

footer .footer-right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-right-section p {
  color: grey !important;
}

@media screen and (max-width: 1024px) {
  footer {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  footer .footer-right-section {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
  }
  footer .footer-middle-section {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 2rem;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer ul li {
    margin-top: 0.5rem;
  }
  footer ul li:first-child {
    margin-top: 0.5rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 768px) {
  footer {
    -ms-grid-rows: 1fr 1fr 3fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  }
  footer .photosnap-logo, footer .social-icons, footer .footer-middle-section, footer .footer-right-section {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    margin: 0 auto;
  }
  footer .photosnap-logo {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  footer .social-icons {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    max-width: 290px;
    min-width: 140px;
    max-height: 21.688px;
    height: 35%;
  }
  footer .footer-middle-section {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  footer .footer-middle-section ul {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-right-section {
    margin-top: 3rem;
    gap: 2rem;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stories-list-ul-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .stories-list-ul-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .stories-list-ul-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.photosnap-logo {
  cursor: pointer;
}

li {
  list-style-type: none;
  position: relative;
}

li span {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  width: 100%;
  height: 100%;
}

li .details-container {
  position: absolute;
  width: 80%;
  bottom: 2rem;
  left: 2rem;
  color: white;
  cursor: pointer;
}

li .details-container .straight-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 0.05rem;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}

li .details-container h4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

li .details-container h4 .arrow {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
}

li .details-container .title {
  font-weight: var(--fw-bold);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .stories-li {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .stories-li:hover {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
}

.detail-page-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-page-image-container {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

@media screen and (max-width: 768px) {
  .detail-page-image-container {
    height: 500px;
  }
}

.detail-page-black-section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.story-detail-subtitle {
  margin-top: 1rem;
}

.story-detail-content-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.date-and-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.story-detail-content::first-letter {
  font-size: 4em;
  float: left;
  padding-right: 16px;
  padding-top: 10px;
}

.featured-story-container {
  position: relative;
}

.featured-story-text {
  position: absolute;
  bottom: 7rem;
  width: 25rem;
  color: white;
  margin-left: 5rem;
  line-height: 2.5rem;
}

.featured-story-text .feature-story-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.featured-story-container {
  height: 650px;
}

@media screen and (max-width: 925px) {
  .featured-story-container {
    height: 700px;
  }
  .featured-story-container .featured-story-image img {
    height: 700px;
  }
}

@media screen and (max-width: 768px) {
  .featured-story-container {
    position: relative;
    height: 400px;
    margin-bottom: 550px;
  }
  .featured-story-container .featured-story-text {
    position: absolute;
    height: 700px;
    background-color: black;
    bottom: -700px;
    width: 100%;
    margin-left: 0px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
  }
  .featured-story-container .featured-story-text h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.feature-author {
  opacity: 1;
}

.feature-date-n-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.section-container {
  position: relative;
}

.section-container .hero-photographer-picture {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-container .hero-photographer-picture {
    position: absolute;
    -o-object-position: 30%;
       object-position: 30%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-pure-black);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--clr-pure-black);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--clr-pure-white);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  max-width: 300px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .rates-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
  .rates-container .rate-card .card-content {
    min-height: 125px;
  }
}

@media screen and (max-width: 1024px) {
  .rates-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rates-container .rate-card .pick-plan-btn.false:hover {
  background-color: white !important;
  color: black !important;
}

.rates-container .rate-card .pick-plan-btn.true:hover {
  background-color: black !important;
  color: white !important;
}

.rate-card {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .rate-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15rem;
    margin-bottom: 5rem;
  }
  .rate-card .card-title, .rate-card .card-content, .rate-card .term-period {
    margin-bottom: 1rem;
  }
  .rate-card .card-content {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rate-card {
    display: -ms-grid;
    display: grid;
    margin: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  .rate-card .card-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .rate-card .card-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .rate-card .card-price {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: end;
  }
  .rate-card .term-period {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: end;
  }
}

@media screen and (max-width: 768px) {
  .rate-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem;
    padding: 2rem !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

.compare-table-title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .compare-table-title {
    visibility: hidden;
    margin-bottom: 0rem;
    margin-top: 2rem;
  }
}

.compare-table-container {
  margin-bottom: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .compare-table-row > span {
    height: 0px !important;
  }
}

.compare-table-features, .compare-table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
}

.compare-table-features .compare-subtitle, .compare-table-row .compare-subtitle {
  text-align: start;
}

.compare-table-features .tick, .compare-table-row .tick {
  -o-object-fit: contain;
     object-fit: contain;
}

.compare-hr, .compare-hr-grey {
  max-width: 52rem;
}

.compare-hr-grey {
  height: 1px;
  background-color: var(--clr-light-grey);
  border: none;
}

.basic-pro-biz-container {
  display: none;
}

.tick-list {
  display: none;
}

@media screen and (max-width: 768px) {
  .compare-removeable {
    visibility: hidden;
  }
  .compare-table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basic-pro-biz-container, .tick-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    visibility: visible;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .tick-list {
    margin-right: 3rem;
  }
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-box p {
  margin-top: 1rem;
}

.text-box h4 {
  margin-top: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .text-box {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .text-box p {
    margin-top: 1.5rem;
  }
  .text-box h4 {
    margin-top: 2rem;
  }
}

.black-text-container {
  background: var(--clr-pure-black);
  color: var(--clr-pure-white);
}

.invite-flex-container, .view-stories-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 1rem;
  cursor: pointer;
}

.invite-flex-container .arrow {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(103%);
}

.white-text-container {
  background: var(--clr-pure-white);
  color: var(--clr-pure-black);
}

.section-container .right-image-container span {
  height: 100% !important;
}

.section-container .left-image-container span {
  height: 100% !important;
}

@media screen and (min-width: 768px) {
  .section-container {
    display: -ms-grid;
    display: grid;
    height: 30rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .section-container .section-picture {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-container .right-image-container {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-container .left-image-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-container .text-box-left {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-container .text-box-right {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .section-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 45rem;
  }
  .section-container .right-image-container {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 6;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-container .left-image-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-container .text-box-left {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-container .text-box-right {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 5rem 6rem 5rem;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features-container .second-feature-container {
    border: 3px solid aqua;
  }
}

.features-container .single-feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.features-container .single-feature-container .image-container {
  height: 72px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-container .single-feature-container .image-container span {
  height: 36px !important;
}

.features-container .single-feature-container p {
  text-align: center;
  max-width: 23rem;
}

@media screen and (max-width: 1024px) {
  .first-feature-container {
    margin-bottom: 3rem;
  }
  .second-feature-container {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=main.css.map */