html {
    height:100%;
}
body {
    background-color: var(--clr-pure-white);
    color: var(--clr-pure-black);
    margin: 3rem;
    height: 100%;
}
h1,h2,h3 {
    // text-transform: uppercase;
    font-weight: 700;
    font-family: brandon-grotesque, sans-serif;

}

h1 {
    font-size: 71.96px;
    line-height: 60px;
    letter-spacing: 3px;
    @media screen and (max-width: $mobile-max-width) {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 3.33px;
    }
}
h2 {
    font-size: 35.99px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.07em;
}
h3 {
    font-size: 18px;
    line-height: 25px;
}
h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 5px;
    color: var(--clr-medium-grey);
    text-transform: uppercase;
}
p {
    font-weight: var(--fw-regular);
    // opacity: 0.75;
    line-height: 30px;
    font-size: 18px;
    color: var(--clr-medium-grey);
}
button {
    border: none;
    color: var(--clr-pure-white);
    background-color: var(--clr-pure-black);
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    &:hover {
        color: var(--clr-pure-black);
        background-color: var(--clr-light-grey);
        
    }
}





@mixin section-grid-sides($start: 1, $end: 2) {
    grid-column-start: $start;
    grid-column-end: $end;
    grid-row-start: 1;
    grid-row-end: 3;
}
