:root {
    /* fonts */
    --ff-primary: 'DM Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    font-family: var(--ff-primary);


    /* colours */
    --clr-main-accent-yellow: hsl(28, 100%, 79%);
    --clr-main-accent-pink: hsl(329, 36%, 59%);
    --clr-main-accent-blue: hsl(229, 100%, 67%);
  
    --clr-pure-black: hsl(0, 0%, 0%);
    --clr-medium-grey: rgb(128,128,128);
    --clr-light-grey: hsl(0, 0%, 87%);
    --clr-pure-white: hsl(0, 0%, 100%);
  
    /* font sizes */
    // --fs-400: 0.8125rem;
    // --fs-500: 0.9724rem;
    // --fs-900: 2rem;
    
    /* buttons */

    --icon-width: 20px; // shortness of sections  20px
    --move-left-half-to-right: 13px; // ^closer  10px
    --icon-height: 5px; //thickness of sections 5px
    --scale-x: 1.4; //original 1.4 size
    --hamburger-vertical-gap: 14px; // 16px
}

/* breakpoints */
$mobile-max-width: 768px;
$tablet-max-width: 1024px;

/* padding and margin */
$mobile-side-padding: 2rem;
$mobile-top-bottom-padding: 4rem;

$homepage-border-padding: 5rem;
  
//   @mixin flexCenter($direction) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
//   }
  